<div id="<%= dom_id election %>">
  <p>
    <strong>Name:</strong>
    <%= election.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= election.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= election.password %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= election.date_of_birth %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= election.phone_number %>
  </p>
  
  <p>
    <strong>Adult:</strong>
    <%= election.adult %>
  </p>
</div>
